header {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
}

@media screen and (min-width: 576px) {
  header {
    justify-content: center;
    }

}
