<main>
  <app-menu-title></app-menu-title>
  <div class="container-articles">
    <div class="article-main">
      <app-big-card
        photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQ9mL0HSsG840HeAnW29MtzwpufU6Q0TYuCA&usqp=CAU"
        cardTitle="Itália"
        cardDescription="A Itália é um país europeu situado na porção sul do continente. Sua capital é a cidade de Roma. Banhada pelo mar Mediterrâneo, a Itália dispõe de climas mediterrâneo e temperado, o que varia conforme a altitude. O relevo do país é caracterizado por regiões planas e acidentadas, com destaque para feições como os Alpes e os Apeninos."
        Id="1"></app-big-card>

    </div>
    <div class=" article-others">
      <app-small-card
        photoCover="https://images.pexels.com/photos/2064827/pexels-photo-2064827.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        cardTitle="Roma" Id="2"></app-small-card>
      <app-small-card
        photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTntFMBA79GIsva7RCNoElOuMnH7Xs9dH_2SA&usqp=CAU"
        cardTitle="Veneza" Id="3"></app-small-card>
      <app-small-card
        photoCover="https://t0.gstatic.com/licensed-image?q=tbn:ANd9GcTa0FnJCpCs9COT1XERLfovORqO4ZsmVP8zxHMrwRi3MSfFCzpmRRJZAdLdKujdB_uO"
        cardTitle="Milão" Id="4"></app-small-card>
    </div>
  </div>
</main>